<h1><%=@sub.title%></h1>

<div><%= flash[:errors] %></div>

<p><%=@sub.description%></p>

<ul>
  <% @sub.posts.each do |post|%>
    <li>
      <%= link_to post.title, post_url(post) %>
    </li>
  <%end%>

</ul>


<% if current_user.id == @sub.moderator_id %>
  <%= link_to 'Edit Sub', edit_sub_url %>

  <form action= "<%=sub_url(@sub)%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit" value="Delete Sub">
  </form>

<% end %>
